

/* Памятка как пользоваться открытием окна теста

Открытие результата первого теста осуществляется классом active__results

Открытие нового шага во втором тесте осуществляется классом active__step

Открытие окна результата для второго теста осуществляется классом active__results-seconds

Открытие окна подтверждения отправки промокода осуществляется классом success__active

 */








/* Общие стили */

html{
	box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	font-family:'Manrope',sans-serif;
	font-size: 18px;
	font-weight: 400;
    line-height: 32px;
    color: #000000;
	background-color: #2d2c2f;
}

.d-flex{
	display: flex;
}

.d-flex-wrap{
	display: flex;
	flex-wrap: wrap;
}

a{
    text-decoration: none;
	color: #6f6c65;
}

img{
	max-width: 100%;
}

input{
    color: #000000;
}

.reset-input{
	outline: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li{
    margin: 0;
}


.mobile__wrap{
	display: none;
}

.list-reset{
	margin: 0;
	padding: 0;
	list-style: none;
}

.container{
    position: relative;
    margin: 0 auto;
    width: 1232px;
    padding: 0;
}

.small-container{
	width: 1127px;
	margin: 0 auto;
}

.small__container{
    width: 1050px;
    margin: 0 auto;
    padding: 0;
}

.main-caption{
    text-align: center;
    margin-bottom: 45px;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    color: #000001;;
}

.main-caption__decoration{
    color: #f8485e;
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.vpc,.nowrap{
    white-space: nowrap;
}

/* .btn:hover{
    background-color: #18bbf0;
    transition: background-color .3s ease-in-out;
} */

.hidden-caption{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border:  0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.percent {
    font-weight: 400;
}

.small__caption{
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-bottom: 47px;
}

.text-container{
    width: 1055px;
    margin: 0 auto;
}







/* Стили шапки */

.header-section{
    padding-top: 32px;
    background: url('../img/header_bg_a.jpg') 50% 100% no-repeat;
    background-position: top;
		background-color: #21211f;
    /* background-size: cover; */
    padding-bottom: 124px;
}

.header-phone-position{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-phone-position a {
	color: #ffffff;
}

.header-container{
    display: flex;
}

.logo{
    margin-right: 210px;
    /* margin-bottom: 112px; */
}

.second-logo{
    display: none;
}

.menu-list{
    display: flex;
    align-items: center;
	font-size: 15px;
    padding-top: 5px;
}

.menu-list-item:not(:last-child){
    margin-right: 57px;
}

.menu-list-item{
    transition: text-decoration .3s ease-in-out;
}

.menu-list-item a:hover{
	text-decoration: underline;
	color: #6f6c65;
}

.header-phone-position{
    margin-left: auto;
    margin-right: 0px;
    position: relative;
    top: 5px;
}

.header-caption{
	font-size: 118px;
	line-height: 120px;
	font-weight: 700;
	color: #fec601;
	margin-top: 0;
	margin-bottom: 20px;
	width: 550px;
	padding-top: 0px !important;
}

.header__subtitle-caption{
	font-size: 74px;
	line-height: 74px;
	font-weight: 700;
	color: #f15384;
}

.header__subtitle-caption span{
	font-size: 42px;
	font-weight: 400;
	position: relative;
	top: -15px;
}


.caption-decoration{
	font-size: 123px;
}

.header__subtitle{
	font-size: 34px;
	line-height: 34px;
	font-weight: 700;
	color: #fec601;
	margin-bottom: 38px;
}

.header__footnote{
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #6f6c65;
}


.header-caption-position{
    width: 430px;
	margin-top: 134px;
}

.btn-position-header{
    position: relative;
}

.header__btn{
	width: 264px;
	height: 56px;
	background-color: #00a9e0;
	border-radius: 64px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	transition: background-color 0.3s ease-in-out;
	text-transform: uppercase;
	position: relative;
	top: -10px;
	left: 5px;
}

.header__btn:hover{
	background-color: #18bbf0;
}


.animate__btn:hover{
	background-color: #18bbf0;
}

.header-subtitle_decoration{
color: #00a9e0;
	font-weight: 600;
}

.header-caption-position{
	width: 100%;
	align-items: center;
}

.header__caption-position{
	margin-right: auto;
}

/* Стили основного контента */

.section__info{
	background: url("../img/bg_1.png") top center no-repeat;
	background-color:#2d2c2f;
	background-size: 100% auto;
    padding-top: 157px;
    padding-bottom: 152px;
}

.info__text{
	font-size: 34px;
	line-height: 48px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
}

.info__text-second{
	width: 805px;
	margin: 0 auto;
}

.info__text:not(:last-child){
	margin-bottom: 30px;
}

.info__text-small{
	font-size: 30px;
	line-height: 40px;
	font-weight: 400;
}

.info__text-decoration-pink{
	color: #f15384;
}

.info__text-decoration-yellow{
	font-size: 30px;
	line-height: 40px;
	font-weight: 400;
	color: #fec601;
}

ol{
	padding-left: 36px;
}

.section__sale10{
	padding-top: 162px;
	padding-bottom: 160px;
	background: #21221f url("../img/bg_2.png") no-repeat;
	background-position: center right;
}


.section__sale20{
	padding-top: 162px;
	padding-bottom: 160px;
	background: url("../img/bg_3.png") no-repeat;
	background-color: #2d2c2f;
	background-position: center right;
}

.section__sale30{
	padding-top: 162px;
	padding-bottom: 160px;
	background: #21221f url("../img/bg_2.png") no-repeat;
	background-position: center right;
}

.section__sale40{
	padding-top: 162px;
	padding-bottom: 94px;
	background: url("../img/bg_3.png") no-repeat;
	background-color: #2d2c2f;
	background-position: center right;
}

.sale__position{
	align-items: flex-start;
}

.sale__caption{
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	color: #f15384;
	margin-bottom: 72px;
}

.sale__subtitle{
	font-size: 32px;
	line-height: 32px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 33px;
}

.sale__caption-decoration{
	color: #fec601;
}

.sale__list{
	font-size: 32px;
	line-height: 32px;
	font-weight: 700;
	color: #f15384;
}

.sale__list-item:not(:last-child){
	margin-bottom: 49px;
}

.sale__list-item p{
	font-size: 22px;
	line-height: 32px;
	font-weight: 400;
	color: #ffffff;
	width: 490px;
	position: relative;
	top: -10px;
	margin-left: 34px;
}

.sale__list-item-1 p{
	width: 384px;
}

.sale__link{
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #00a9e0;
	margin-bottom: 67px;
	margin-top: 37px;
	display: block;
	cursor:pointer;
}

.sale__link:hover{
	color: #00a9e0;
	text-decoration: underline;
}

.sale__promocode-block{
	padding-top: 23px;
	padding-left: 25px;
	padding-right: 24px;
	padding-bottom: 24px;
	width: 616px;
	background-color: #303033;
}

.sale__promocode-caption{
	font-size: 22px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 18px;
}

.sale__promocode-input{
	width: 304px;
	height: 48px;
	padding-left: 17px;
	padding-right: 10px;
	outline: none;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	margin-right: auto;

}

.sale__promocode-input::placeholder{
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	color: #777777;
}

.sale__promocode-btn{
	width: 248px;
	height: 48px;
	background-color: #00a9e0;
	border-radius: 24px;
	outline: none;
	border: none;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
}

.sale__img{
	width: 437px;
	height: 439px;
	position: relative;
	top: -44px;
}

.item-decoration{
	font-weight: 600;
	color: #f15384;
}

.sale__btn{
	width: 352px;
	height: 48px;
	background-color: #00a9e0;
	border-radius: 24px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	outline: none;
	border: none;
}

.section__sale30 .sale__list-item-1 p{
	width: 490px;
}

.section__program{
	background: url("../img/bg_4.png") center no-repeat;
}

.program__caption{
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
	color: #fec601;
	text-align: center;
	margin-bottom: 26px;
}

.program__container{
	width: 1056px;
	margin: 0 auto;
}

.program__block{
	background-color: #303033;
	padding: 40px;
	margin-bottom: 160px;
}

.program__items{
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid #404046;
	align-items: center;
}

.program__items:first-of-type{
	align-items: flex-start;
	padding-top: 0px;
	padding-bottom: 23px;
}

.program__items:nth-child(6n){
	align-items: flex-start;
	padding-top: 32px;
	padding-bottom: 23px;
}

.program__items:last-of-type{
	border: none;
	padding-bottom: 0;
}

.program__items-code{
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #6d6d77;
	margin-right: 46px;
}

.program__items-text{
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	width: 573px;
	margin-right: 133px;
}

.program__items-btn{
	width: 168px;
	height: 48px;
	background-color: #00a9e0;
	border-radius: 24px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	outline: none;
	border: none;
}

.section__conditions{
	background-color: #21221f;
	padding-top: 165px;
}

.caption__conditions{
	font-size: 36px;
	line-height: 40px;
	font-weight: 700;
	color: #ffffff;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 60px;
}

.conditions__text{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #ffffff;
}

.conditions__text:not(:last-child){
	margin-bottom: 24px;
}

.conditions__text:last-child{
	padding-bottom: 113px;
	border-bottom: 1px solid #404046;
}

.conditions__list{
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #ffffff;
}

.conditions__list-items:not(:last-child){
	margin-bottom: 18px;
}

.conditions__list-items:last-child{
	margin-bottom: 24px;
}

.section__map{
	padding-top: 0;
	background-color: #21221f;
	padding-bottom: 148px;
	padding-top: 124px;
}


.map-active{
    display: block;
}

.map{
    width: 100%;
    height: 647px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.map__caption{
	font-size: 36px;
	line-height: 48px;
	font-weight: 700;
	color: #ffffff;
    margin-bottom: 73px;
}

.section__understandunderstand{
    padding-top: 92px;
    padding-bottom: 95px;
    border-bottom: 1px solid #dddddd;
}

.reaction__description{
    text-align: center;
}

.sale__promocode-btn,.sale__btn,.program__items-btn{
	transition: background-color 0.3ms;
}

.sale__promocode-btn:hover,.sale__btn:hover,.program__items-btn:hover{
	background-color: #18bbf0;
}



/* Стили footer */

.footer-position{
    align-items: center;
	border-top: 1px solid #404046;
	padding-top: 32px;
}

.footer{
    padding-bottom: 68px;
    background-color: #21221f;
}

.footer-position{
    display: flex;
}

.footer-text{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
		color: #6d6d77;
    margin-right: auto;
}

.footer-social-list{
    display: flex;
    align-items: center;
}

.footer-social-list-item:not(:last-child){
    margin-right: 24px;
}

.social-1{
    width: 40px;
    height: 40px;
    display: block;
    background: url('../img/soc_facebook.svg') no-repeat;
}

.social-2{
    width: 40px;
    height: 40px;
    display: block;
    background: url('../img/soc_vk.svg') no-repeat;
}

.social-3{
    width: 40px;
    height: 40px;
    display: block;
    background: url('../img/soc_ok.svg') no-repeat;
}

.social-4{
    width: 40px;
    height: 40px;
    display: block;
    background: url('../img/soc_instagram.svg') no-repeat;
}

.social-5{
    width: 40px;
    height: 40px;
    display: block;
    background: url('../img/soc_youtube.svg') no-repeat;
}

.recomend-text{
    font-size: 20px;
    text-transform: uppercase;
    color: #dadada;
    margin: 0;
}

.footer-recomend{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.chesel-row{
    background: rgba(31, 31, 34, 0.96);
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-size: 1.54vw;
    z-index: 3;
    bottom: 0;
    color: #2d2c2f;
    width: 100%;
    line-height: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
    transform: scaleY(1.5);
    transform-origin: bottom;
}

.footer{
    margin-top: 0px;
}

.result{
	display: none !important;
}

.form{
	display: flex;
}

.result-active .result{
	display: flex !important;
}

.result-active .form{
	display: none !important;
}

.form-result-img{
	width: 48px;
	height: 48px;
	margin-right: 24px;
}

.form-result-text{
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #fec601;
	width: 200px;
}


.sale__subtitle{
	margin-bottom: 28px;
}

.sale__list-item p{
	margin-left: 30px;
	top: -7px;
}

.sale__list-item:not(:last-child) {
	margin-bottom: 40px;
}

.sale__list{
	line-height: 0;
}

.sale__link{
	margin-top: 33px;
}

.section__sale10 .sale__list-item p{
	width: 450px;
}

.program__block{
	background-color: #252524;
}

.program__items{
	border-color: #313139;
}

 .footer-position,.conditions__text:last-child{
	border-color: #313139;
 }

 .section__sale40 .sale__promocode-block,.section__sale20 .sale__promocode-block{
	 background-color: #3b3a3d;
 }



@media (min-width: 1200px){
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 100%;
	}
	}

@media (min-width: 992px){
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 100%;
	}
}

/* Адаптив */
@media (max-width: 1279px){
    .container{
        width: 968px;
    }

	.small-container{
		width: 928px;
	}

    img{
        max-width: 245px;
    }

    .logo{
        margin-right: 78px;
        /* margin-bottom: 128px; */
    }

	.menu-list{
		position: relative;
		top: -4px;
	}

    .menu-list-item:not(:last-child){
        margin-right: 57px;
    }

    .menu-list-item{
        font-size: 15px;
        line-height: 1.2;
        color: #ffffff;
    }

    .header-phone-position{
        font-size: 16px;
        line-height: 1.8;
        font-weight: 700;
        color: #ffffff;
        margin-right: 0px;
    }


		.section__info{
			padding-top: 162px;
			padding-bottom: 153px;
		}

		.info__text{
		font-size: 28px;
		line-height: 40px;
		font-weight: 700;
		color: #ffffff;
	}

	.info__text-decoration-yellow{
		font-size: 24px;
		line-height: 32px;
		font-weight: 400;
		color: #fec601;
	}

	.info__text-small{
		font-size: 24px;
		line-height: 32px;
		font-weight: 400;
	}

	.info__text-second{
		width: 700px;
	}

	.section__sale20{
		background-position: 100% 0%;
	}

	.sale__img{
		max-width: 100%;
		width: 352px;
		height: 353px;
	}

	.program__container{
		width: 790px;
	}

	.program__items-text{
		margin-right: 54px;
		width: 390px;
	}

	.program__items-btn{
		width: 168px;
		height: 48px;
		font-size: 18px;
		line-height: 24px;
		font-weight: 400;
		color: #ffffff;
	}







    .footer-text{
        font-size: 14px;
        line-height: 24px;
        margin-right: auto;
    }

    .footer-position{
        align-items: center;
    }

    .header-phone-position{
        top: 5px;
    }

}

@media (min-width: 768px) {
	.container, .container-md, .container-sm {
		max-width: 100%;
	}
}

@media (max-width: 1023px){

    .container,.small-container{
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
    }

    .header-section{
        padding-bottom: 85px;
        background-size: auto;
    }

		.header-caption-position{
			display: block;
		}

    .logo{
        margin-right: auto;
        /* margin-bottom: 122px; */
    }

    .fixed-active .second-logo{
        margin-right: auto;
    }

	.header__subtitle-caption{
		font-size: 59px;
		line-height: 64px;
		font-weight: 700;
		color: #f15384;
		margin-bottom: -11px;
	}

	.header__subtitle-caption span{
		font-size: 32px;
		font-weight: 400;
	}

	.header-caption-position {
		margin-top: 128px;
	}

    .header-caption{
			margin: 0;
			font-size: 95px;
			line-height: 104px;
			font-weight: 700;
			color: #fec601;
			margin-bottom: 5px;
			width: 450px;
    }

	.caption-decoration {
		font-size: 100px;
	}

    .header__subtitle{
			font-size: 28px;
			line-height: 28px;
			font-weight: 700;
			color: #fec601;
			padding-left: 0;
			margin-bottom: 26px;
    }

		.header__footnote{
			font-size: 13px;
			line-height: 16px;
			font-weight: 400;
			color: #6f6c65;
		}

    .header-promocode{
        font-size: 22px;
    }

    .footer-position{
        display: block;
        text-align: center;
    }

    .footer-text{
        margin: 0;
        position: relative;
        top: 60px;
    }

    .footer-social-list {
        position: relative;
        bottom: 30px;
        left: 220px;
        width: 400px;
        margin: 0;
    }

    .recomend-text{
        font-size: 14px;
    }

    .header-section{
        background-size: cover;
    }

    .header-phone-position {
        top: 4px;
    }

    .menu-list{
        display: none;
    }

    .header-section{
        padding-top: 32px;
        padding-bottom: 106px;
    }

	.sale__caption{
		font-size: 48px;
		line-height: 48px;
		font-weight: 700;
		color: #f15384;
		margin-bottom: 70px;
	}

	.sale__list{
		font-size: 28px;
		line-height: 32px;
	}

	.sale__list-item p{
		font-size: 18px;
		line-height: 24px;
		font-weight: 400;
		width: 415px;
	}

	.sale__position{
		position: relative;
	}

	.sale__img{
		width: 232px;
		height: 233px;
		position: absolute;
		right: 16px;
		top: 0px;
	}

	.sale__list-item:not(:last-child) {
		margin-bottom: 40px;
	}

	.info__text{
		font-size: 28px;
		line-height: 40px;
		font-weight: 700;
		color: #ffffff;
	}

	.info__text-small{
		font-size: 24px;
		line-height: 32px;
		font-weight: 400;
	}

	.sale__subtitle{
		font-size: 28px;
		line-height: 32px;
	}

	.program__container {
		width: 100%;
		padding-left: 16px;
		padding-right: 16px;
	}

	.program__items-text {
		margin-right: 54px;
		width: 66%;
	}

	.footer-social-list{
		width: 300px;
		left: 50%;
		transform: translateX(-50%);
	}

	.chesel-row{
		z-index: 30;
	}

	.sale__subtitle {
		margin-bottom: 24px;
	}

	.sale__list-item p {
		margin-left: 20px;
	}



}

@media (min-width: 576px){
	.container, .container-sm {
		max-width: 100%;
	}
}

@media (max-width: 767px){
    .container,.small-container{
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
    }

    .section-adress{
        padding-top: 54px;
    }

    .map{
        margin-bottom: 98px;
    }

    img{
        max-width: 144px;
    }

	.header-caption-position{
		margin: 0 auto;
		margin-top: 53px;
		text-align: center;
		width: 300px;
	}

	.header__subtitle-caption{
		font-size: 34px;
		line-height: 40px;
	}

	.header__subtitle-caption span{
		font-size: 19px;
		font-weight: 400;
		top: -8px;
	}

	.header__subtitle{
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 21px;
	}

	.header__footnote{
		font-size: 11px;
		line-height: 16px;
	}

    .header-caption{
			font-size: 56px;
			line-height: 60px;
			font-weight: 700;
			color: #fec601;
			margin: 0 auto;
			margin-bottom: 18px;
			width: 100%;
    }

		.header-caption span{
			font-size: 58px;
		}

    .header-phone-position {
			font-size: 11px;
			line-height: 1.2;
			margin-right: 0px;
		}

    .logo{
        width: 145px;
        margin-right: auto;
        /* margin-bottom: 31px; */
    }

    .menu-list-item{
        display: none;
    }

    .phone-link a{
        font-size: 11px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #777777;
    }

    .main-caption{
        font-size: 26px;
        line-height: 32px;
        font-weight: 700;
        text-align: center;
        margin-top: 0;
        margin-bottom: 31px;
    }

    .header-section{
        /*!*background: url('../img/header_bg_mob.jpg') 50% 100% no-repeat;*!*/
        /*padding-bottom: 48px;*/
        /*background-size: 100% auto;*/
        /*padding-top: 16px;*/

			/*height: 656px;*/
			background: #21211f url(../img/header_bg_mob_a.jpg) bottom center no-repeat;
			background-size: 100% auto;
			padding-bottom: 98%;
    }

    .btn{
        font-size: 14px;
    }

    .footer{
        padding-top: 46px;
        padding-bottom: 90px;
    }

    .footer-text{
        width: 290px;
        top: 79px;
        margin: 0 auto;
    }

    .footer-social-list-item:not(:last-child){
        margin-right: 16px;
    }

    .footer-social-list {
        left: 50%;
        top: -54px;
        width: 264px;
        margin: 0 auto;
        transform: translateX(-50%);
    }

    .recomend-text {
			font-size: 1.54vw;
		}

    .header-phone-position{
        top: 6px;
    }

    .map{
        height: 544px;
    }

    .footer {
			margin-top: 0px;
			padding-top: 0;
		}

    .btn{
        font-size: 16px;
    }

	.info__text{
		font-size: 18px;
		line-height: 24px;
		font-weight: 600;
	}

	.info__text-small{
		font-size: 16px;
		font-weight: 400;
	}

	.info__text-decoration-yellow{
		font-size: 16px;
		font-weight: 400;
	}

	.section__info {
		padding-top: 74px;
		padding-bottom: 71px;
	}

	.section__sale20{
		padding-top: 72px;
		padding-bottom: 71px;
	}

	.sale__caption{
		width: 250px;
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 8px;
	}

	.sale__list-item p {
		font-size: 18px;
		line-height: 24px;
		font-weight: 400;
		width: 415px;
		margin-left: 17px;
	}

	.sale__position{
		flex-direction: column-reverse;
	}

	.sale__img{
		position: unset;
		margin: 0 auto;
		margin-bottom: 26px;
		width: 207px;
		height: 209px;
	}

	.sale__list{
		margin: 0 auto !important;
	}

	.sale__position .me-auto{
		margin-right: 0!important;
		width: 100%;
	}

	.position-img{
		margin: 0 auto;
	}

	.sale__promocode-block{
		width: 100%;
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 27px;
		padding-bottom: 24px;
	}

	.sale__link{
		font-size: 14px;
		line-height: 24px;
	}

	.sale__promocode-block .d-flex{
		flex-direction: column;
	}

	.sale__promocode-input{
		width: 100%;
		font-size: 16px;
		line-height: 16px;
		font-weight: 400;
		margin-bottom: 24px;
	}

	.sale__promocode-input::placeholder{
		font-size: 16px;
		line-height: 16px;
	}

	.sale__promocode-btn{
		width: 100%;
		font-size: 16px;
		line-height: 16px;
	}

	.sale__promocode-caption{
		font-size: 16px;
		line-height: 24px;
		font-weight: 700;
		text-align: center;
	}

	.sale__subtitle{
		margin-bottom: 23px;
		font-size: 20px;
		line-height: 24px;
	}

	.section__sale40, .section__sale30,.section__sale20,.section__sale10{
		padding-top: 73px;
		padding-bottom: 72px;
	}

	.sale__list-item p{
		font-size: 16px;
		line-height: 24px;
	}

	.program__items{
		flex-direction: column;
		align-items: flex-start;
	}

	.program__block{
		padding: 32px 16px;
		margin-bottom: 72px;
	}

	.program__items-code{
		font-size: 14px;
		line-height: 16px;
		font-weight: 400;
		margin-bottom: 18px;
	}

	.program__items-text{
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		width: 100%;
		margin-bottom: 19px;
	}

	.program__items-btn{
		width: 168px;
		height: 40px;
		font-size: 16px;
		line-height: 16px;
	}

	.program__items{
		padding-top: 37px;
		padding-bottom: 31px;
	}

	.program__items:nth-child(6n) {
		padding-top: 37px;
		padding-bottom: 31px;
	}

	.program__items:first-of-type{
		padding-top: 0;
		padding-bottom: 31px;
	}

	.section__conditions{
		padding-top: 76px;
	}

	.conditions__text:last-child{
		padding-bottom: 50px;
	}

	.caption__conditions{
		font-size: 26px;
		line-height: 32px;
		margin-bottom: 40px;
		text-align: left;
	}

	.conditions__text{
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
	}

	.conditions__list{
		font-size: 16px;
		line-height: 24px;
	}

	.section__map{
		padding-top: 59px;
		padding-bottom: 82px;
	}

	.footer-position{
		padding-top: 39px;
	}

	.program__caption{
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		width: 300px;
		margin: 0 auto;
		margin-bottom: 27px;
	}

	.info__text-second{
		width: 100%;
	}
	.sale__btn{
		width: 100%;
	}

	.sale__list{
		padding-right: 8px;
	}

	.header-caption{
		margin-bottom: 3px;
	}

	.header__subtitle{
		margin-bottom: 14px;
	}

	.sale__list{
		font-size: 24px;
		line-height: 24px;
	}

	.sale__list-item p{
		margin-left: 9px;
	}

	.form-result-text{
		font-size: 14px;
		line-height: 24px;
		width: 177px;
		margin: 0 auto;
		text-align: center;
	}

	.form-result-img{
		margin: 0 auto;
		margin-right: auto;
		margin-bottom: 21px;
	}

	.header-section{
		padding-top: 12px;
	}

	.header-caption-position{
		width: 100%;
		max-width: 300px;
		margin-top: 44px;
	}

	.header__subtitle-caption{
		margin-bottom: -4px;
	}

	.sale__subtitle {
		margin-bottom: 21px;
	}

	.sale__list {
		padding-left: 22px;
	}

	.sale__list-item:not(:last-child) {
		margin-bottom: 30px;
	}

	.sale__link {
		margin-top: 28px;
	}






}

@media (max-width: 580px){
	.sale__list-item p,.section__sale30 .sale__list-item-1 p,.section__sale10 .sale__list-item p {
		width: 100%;
	}
}


